
.banner {
    margin: 0 auto;
    padding: var(--padding-xxl) 3.75rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.15)), url(../images/Banner.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    height: 60vh;
}

.banner__conteiner {
    width: 100%;
    max-width: var(--max-width-block);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner__titulo {
    font-size: var(--font-size-xxl);
    font-family: var(--fonte-titulo);
    color: var(--cor-texto-claro);
    font-weight: 400;
    line-height: var(--line-height-xxl);
    max-width: 32rem;
    user-select: none;
    cursor: default;
}

.banner__titulo span {
    font-size: var(--font-size-xxl);
    color: var(--cor-texto-destaque);
}

@media (max-width: 1200px) {

    .banner {
        height: 30vh;
    }

    .banner__titulo {
        font-size: var(--font-size-xl);
        line-height: var(--line-height-xl);
        max-width: 25rem;
    }

    .banner__titulo span {
        font-size: var(--font-size-xl);
    }
}

@media (max-width: 700px) {
    
    .banner {
        padding: var(--padding-xxl) var(--padding-m);
    }

    .banner__titulo {
        font-size: 2rem;
        line-height: 1.2;
        max-width: 15rem;
    }

    .banner__titulo span {
        font-size: 2rem;
    }
}